.label-text{
    display: block;
    font-size: 1.4rem;
}
.input{
    height: 2rem;
    width: 80%;
    border: 1px solid rgb(212, 211, 211);
    border-radius: 3px;
    padding: .3rem;
    outline-color: lightcoral;
    margin-bottom: 1rem;
    display: block;
    font-size: .9rem;
}
.gender-heading{
    font-size: 1.6rem;
    margin-bottom: 0px;
    font-weight: 400;
}
.radio-label-text{
    font-size: 1.4rem;
    margin-right: 1rem;
}
.date-text{
    display: block;
    font-size: 1.4rem;
    margin-top: .8rem;
}
.branch{
    height: 2rem;
    width: 84%;
    border: 1px solid rgb(212, 211, 211);
    border-radius: 3px;
    padding: .3rem;
    outline-color: lightcoral;
    margin-bottom: 1rem;
    display: block;
    font-size: .9rem;
}
.button{
    height: 36px;
    width: 100px;
    color: #ffffff;
    background-color: rgb(18, 94, 141);
    display: block;
    margin-top: 1rem;
    border: none;
    border-radius: 3px;
}
.error-msg{
    color: red;
    margin-bottom: 3px;
}
